.login {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #78e098;
}

.login__return {
    position: absolute;
    top: 1rem;
    left: 1rem;

    svg {
        font-size: 3rem !important;
        color: white;
    }
}

.login__form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 1.5rem 4rem;
    border-radius: 8px;
    background-color: white;
}


.login__form-logo {
    font-size: 4rem !important;
    margin: 0 auto 1.5rem;
    color: #4DD889;
}

.login__form-input {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 0.8rem 0;
    padding-bottom: 8px;
    border-bottom: 2px solid gray;

    svg {
        margin-right: 0.5rem;
        color: gray;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

.login__form-submit {
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #4DD889;
    color: white;
    
    transition: box-shadow 0.1s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
}

.login__form-more {
    text-align: right;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: gray;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}