.register {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url("~images/login-illustration.svg") no-repeat;
        background-size: contain;
    }
}

.register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 20%;
    width: 300px;
    height: 100%;
}

.register__form-logo {
    font-size: 4rem !important;
    margin: 0 auto 1.5rem;
    color: #4DD889;
}

.register__form-input {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
    margin: 0.8rem 0;
    border-bottom: 2px solid gray;

    svg {
        margin-right: 0.5rem;
        color: gray;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

.register__form-submit {
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #4DD889;
    color: white;
    
    transition: box-shadow 0.1s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
}

.register__form-more {
    text-align: right;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: gray;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}