.contact {
    position: relative;
    display: inline-flex;
    padding: 1rem;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #F9F9F9;

    &:hover {
        cursor: pointer;
    }
}

.contact-hide {
    display: none;
}

.contact__name {
    font-size: 1rem;
    color: black;
    margin: 0;
    text-align: left;
}

.contact__info {
    font-size: 0.8rem;
    color: gray;
    margin: 0;
}