.sidebar {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    background-color: white;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #89FBAB;
    color: white;
}

.sidebar__header-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;

    a {
        color: white;
        transition: transform 0.2s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.sidebar__search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #F9F9F9;
}

.sidebar__search-entry {
    display: inline-flex;
    width: 100%;
    padding: 0.2rem 0.5rem;
    background-color: white;
    border-radius: 50px;

    input {
        width: 100%;
        background: none;
        border: none;
        outline: none;
    }

    button {
        all: unset;
        color: gray;
        transition: color 0.2s;
    
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.sidebar__chats {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.sidebar__chats-add {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #ff3838;
    color: white;

    transform-origin: bottom right;
    transition: transform 0.1s linear;
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}