.sidebar {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    background-color: white;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 1rem;
    background-color: #89FBAB;
    color: white;

    a {
        color: white;
    }
}

.sidebar__header-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;

    a {
        color: white;
        transition: transform 0.2s;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}

.sidebar__search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #F9F9F9;
}

.sidebar__search-entry {
    display: inline-flex;
    width: 100%;
    padding: 0.2rem 0.5rem;
    background-color: white;
    border-radius: 50px;

    input {
        width: 100%;
        background: none;
        border: none;
        outline: none;
    }

    button {
        all: unset;
        color: gray;
        transition: color 0.2s;
    
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

.sidebar__content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.sidebar__content-option {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #ff3838;
    color: white;

    transform-origin: bottom right;
    transition: transform 0.1s linear;
    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.sidebar__content-avatar {
    width: 100px;;
    height: 100px;
    margin: 2rem auto;
    div {
        width: 100%;
        height: 100%;
    }
}

.sidebar__content-input {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 0.8rem auto;
    padding-bottom: 8px;
    border-bottom: 2px solid gray;

    svg {
        margin-right: 0.5rem;
        color: gray;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }
}